{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, иконки и шрифт -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>   
     <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>{% block title %}SimpleNotes{% endblock %}</title>
</head>

<body>

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
    <div class="container">
      {% if user.is_authenticated %}
      <a class="navbar-brand mr-4" href="/notes"></i>SimpleNotes</a>
      {% else %}
      <a class="navbar-brand mr-4" href="/"></i>SimpleNotes</a>
      {% endif %}
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link " href="{% url 'create_note' %}">New</a>
          {% endif %}
          <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        </div>
    <!-- right side -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <div class="nav-item nav-link">Hello, {{ user.username|default:'Guest' }}</div>
          {% endif %}
          <div>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
          </div>
          <a class="nav-item nav-link" href="{% url 'signup' %}">Registration</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
      
<main role="main" class="container">
  {% block secondtitle %}{% endblock %}
  <div class="row">
  {% block rightcontent %}{% endblock %}
    <div class="col-md-8">
    {% block content %}{% endblock %}
    </div>
  </div> 
</main>  
      
<footer class="text-center bg-dark">
  <p><a href="{% url 'notes' %}">© SimpleNotes 2023</a></p>
</footer>
      
</body>
</html>
